body { 
	margin: 0px; 
	padding: 0px; 
	background: #000;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;  
}

h2 { 
	margin: 30pt 0 10pt 0;
	font-size: 18pt; 
	color: #4f4f5f;
}

h3 { 
	margin-top: 16pt;
	font-size: 14pt; 
}


img { 
	border: 0px solid white; 
}

a { 
	color: #44A; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

#menu {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 10pt;
	color: #303030;
}

#header { 
	margin: 0px 0px 0px 0px; 
	padding: 100px 10px 0px 5px;
	background: #1f1f1f;
	color: #f0f0f0;
	border-bottom: 1px solid #303030;
	text-align: center;
	font-size: 40pt;
}

#main { 
	margin: 20px 100px 0px 100px; 
	padding: 40px 130px 40px 130px;
	background: #fff;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-bottom: 1px solid #e0e0e0;
}

#result {
	display: none;
	font-family: monospace;
	margin: 10px 0px 10px 0px;
	padding: 10px;
	border: 1px dotted #a0a0a0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #FFF;
}

#result pre {
	padding: 10px;
}

#about {
	background: #f6f6f6;
	color: #6f6f6f;
	margin: 0px 100px 20px 100px; 
	padding: 40px 130px 40px 130px;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
}

#footer { 
	margin: 0px 0px 0px 0px; 
	padding: 2px; 
	background: #1f1f1f; 
	font-size: 8pt; 
	text-align: center; 
	color: #f0f0f0;
}

.sect-menu {
	padding: .4em;
	margin: 1em 4em 2em 4em;
	font-size: 90%;
	text-align: center;
	background: #fff;
	color: #9e9e9e;
	border: 1px solid #cacaca;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


.enable {
	color: #303030;
}

.more {
	font-size: 80%;
	color: #606060;
}

.example {
	font-size: 80%;
	color: #606060;
}


.code {
	margin: 10px 100px 10px 100px;
	padding: 10px;
	border: 1px dotted #a0a0a0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #FFE;
}

.note {
	font-style: italic;
	font-size: 80%;
}